@media (max-width: 1200px) {
	.pageup {
		bottom: 20px;
		right: 20px;
	}
}

@media (max-width: 991px) {
	.container {
		max-width: 90vw;
	}
	.title {
		font-size: 25px;
	}
	.carousel {
		padding: 50px 0;
		&__inner {
			width: 100%;
		}
		.slick-slide {
			img {
				width: 100%;
			}
		}
		.slick-slider {
			position: relative;
			.slick-dots {
				list-style-type: none;
				margin-bottom: 0;
				padding-left: 0;
				/* button {
					width: 5px;
					height: 5px;
					border-radius: 100%;
					background-color: black;
				} */
			}
		}
	}
	.catalog {
		padding-bottom: 40px;
		&__content {
			width: 640px;
			margin: 0 auto;
			margin-top: 60px;
		}
		&__tabs {
			margin-top: 40px;
		}
		&__content {
			margin-top: 50px;
		}
	}
	.review {
		&-item {
			margin: 35px 0;
			&__avatar {
				width: 120px;
			}
			&__result {
				margin-top: 0;
			}
			&__descr {
				margin-left: 30px;
			}
			&__text {
				font-size: 14px;
				margin-top: 16px;
			}
		}
	}
	.footer {
		position: relative;
		height: 500px;
		&__contact {
			position: relative;
			width: 100%;
			height: 200px;
			padding-top: 32px;
		}
		&__phone {
			margin-top: 5px;
		}
		&__social {
			margin-top: 20px;
		}
		.h300map {
			display: inline;
		}
		.h630map {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.header {
		&__logo {
			width: 175px;
		}
		&__official {
			font-size: 11px;
			span {
				font-size: 15px;
			}
		}
		&__phone {
			font-size: 16px;
		}
	}
	.promo {
		&__wrapper {
			align-items: center;
		}
		&__header {
			font-size: 32px;
			line-height: 32px;
		}
		&__subheader {
			font-size: 20px;
			line-height: 24px;
		}
	}
	.benefits {
		&__wrapper {
			margin-top: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			width: 324px;
			margin-top: 38px;
		}
	}
	.title {
		&_left {
			text-align: center;
			font-size: 20px;
			line-height: 30px;
		}
	}
	.consultation {
		&__descr {
			font-size: 16px;
			text-align: center;
		}
	}
	.feed-form {
		margin: 0 auto;
		margin-top: 36px;
	}
	.catalog {
		&__content {
			width: 100%;
		}
		&__tab {
			width: 145px;
			height: 32px;
			font-size: 13px;
			line-height: 29px;
		}
		&-item {
			width: 247px;
			min-height: 250px;
			&__img {
				height: 150px;
			}
		}
	}
	.pageup {
		bottom: 15px;
		right: 10px;
	}
}

@media (max-width: 575px) {
	.header {
		&__logo {
			width: 130px;
		}
		&__official {
			display: none;
		}
		&__phone {
			font-size: 12px;
			font-weight: 700;
		}
	}
	.button {
		width: 115px;
		height: 30px;
		font-size: 10px;
		margin-top: 5px;
		&_main {
			width: 230px;
			height: 45px;
			font-size: 14px;
			margin-top: 45px;
		}
		&_submit {
			width: 100%;
			height: 45px;
			color: #ffffff;
			font-size: 14px;
		}
	}
	.button_mini {
		font-size: 12px;
	}
	.promo {
		min-height: 550px;
		padding: 21px 0 50px 0;
		&__header {
			font-size: 24px;
			line-height: 24px;
			text-align: center;
		}
		&__subheader {
			margin-top: 25px;
			font-size: 15px;
			line-height: 15px;
			text-align: center;
		}
		&__icons {
			margin-top: 20px;
			width: 90vw;
			/* flex-direction: column;
			align-items: center; */
		}
		&__icon {
			margin-top: 20px;
			width: 92px;
			font-size: 12px;
			img {
				margin-bottom: 5px;
			}
		}
		&__link {
			font-size: 15px;
		}
	}
	.title {
		color: #0d0d0d;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		&_left {
			text-align: center;
			color: #ffffff;
			font-size: 13px;
			line-height: 27px;
		}
	}
	.benefits {
		min-height: 470px;
		padding: 40px 0 50px 0;
		&__wrapper {
			margin-top: 10px;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			width: 95%;
			margin-top: 22px;
		}
		&__subtitle {
			margin-top: 15px;
			font-size: 16px;
		}
		&__descr {
			margin-top: 12px;
			font-size: 13px;
		}
	}
	.consultation {
		min-height: 545px;
		padding: 100px 0 50px 0;
		&__descr {
			color: #ffffff;
			font-size: 14px;
			margin-top: 45px;
		}
	}
	.feed-form {
		margin-top: 36px;
		display: flex;
		flex-direction: column;
		width: 280px;
		input {
			height: 40px;
			font-size: 12px;
			&:nth-child(3) {
				margin-bottom: 15px;
			}
		}
	}
	.catalog {
		&__content {
			margin-top: 10px;
		}
		&__tabs {
			margin-top: 10px;
		}
		&__tab {
			height: 25px;
			font-size: 9px;
			line-height: 21px;
		}
		&-item {
			margin: 0 auto;
			margin-top: 15px;
			width: 85%;
			max-width: 290px;
			&__price {
				font-size: 18px;
			}
		}
	}
	.review {
		&-item {
			margin: 25px 0;
			&__avatar {
				width: 20%;
			}
			&__descr {
				margin-left: 15px;
				width: 80%;
			}
		}
	}
	.footer {
		height: 456px;
		&__contact {
			height: 150px;
    		padding-top: 20px;
		}
		&__address {
			font-size: 16px;
		}
		&__phone {
			font-size: 19px;
		}
		&__social {
			margin-top: 15px;
		}
		&__round {
			height: 40px;
			width: 40px;
			img {
				height: 20px;
			}
		}
	}
	.modal {
		min-height: 150px;
		width: 90%;
		padding: 30px 20px 20px 20px;
		&__close {
			right: 3px;
		}
		&__subtitle {
			font-size: 15px;
		}
		&__descr {
			font-size: 12px;
		}
		.feed-form {
			width: 100%;
		}
	}
	.pageup {
		height: 30px;
		width: 30px;
		right: 7px;
	}
}