.review {
    &__wrapper {
        padding: 20px 0;
        hr {
            background-color: #e8e8e8;
            border-bottom: none;
        }
    }
    &-item {
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
        &__avatar {
            width: 169px;
        }
        &__descr {
            margin-left: 62px;
            width: 650px;
        }
        &__name {
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
        }
        &__result {
            margin-top: 17px;
            color: #646464;
            font-size: 14px;
            font-weight: 300;
        }
        &__text {
            margin-top: 22px;
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 300;
        }
    }
}